<link rel="stylesheet" type='text/css' href="/assets/mypage.css"/>



<div class="container well" style="margin-top:100px">

    <div style="margin-left:10px; margin-right:10px;">
    <br><br>
    <span style="float:left"> <h4><strong><%=@current_user.email%></strong>님의 바나나 장바구니</h4> </span></br>
    <!--<div style="text-align: right"><p>
      <!--<%=#@current_user.email%>-->
    <!--님의 장바구니입니다.&nbsp &nbsp</p></div>-->
    </br>
    
    <table class="table">
        <thead>
          <tr>
            <th> 상품번호</th>
            <th> 상품정보</th>            
            <th> 수량</th>
            <th> 상품금액</th>
            <th> 배송비</th>
            <th> 주문금액</th>
          </tr>
      </thead>
    
    
    
    <% @myorder.each.with_index do |x, index|%>  
      <tbody>
          <tr>
            <td scope="row">
              <a href = "<%=x.product_id%>" target="_blank">  
                <img src="/<%=x.product_img%>.png" height="35%">
              </a>
            </td>  
            
            <td> <%=x.product_name%> </td>

            <td> <%=x.product_price%>원</td>
            
            <td> 
              <div class="btn-group" role="group" aria-label="...">
              <a href = "<%=x.product_url%>" target="_blank"><span class="label label-default">제품상세보기</span></a>
              </div>
            </td>
            
            <td>
              <div class="btn-group" role="group" aria-label="...">
              <a href ="/system/destroy/<%= x.id %>"><span class="label label-danger">삭제하기</span></a>
              </div>
            </td>
          </tr>
       </tbody>
    
       
      <% end %>
    </table> 
    
          <!--<a href="/system/check_all_price">전부 체크하기</a>-->
    
    </div> 
      
</div>